{% extends 'base.html.twig' %}

{% block content %}

<div class="container pt-32">

    <div class="row">
        <div class="col-md-8 col-xs-12 col-centered center-block text-center">
            <h3>{{ 'latest_activities'|trans }}</h3>
            <hr class="short-line">
        </div>
    </div>

    <div class="row mt-18 mb-32">
        <div class="col-md-8 col-xs-12 col-centered center-block">
            <div id="slideshow" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for article in articles %}
                    <li data-target="#slideshow" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner" role="listbox">

                    {% for article in articles %}

                    <div class="item {% if loop.index0 == 0 %} active {% endif %}">
                        <img class="slideshow-image" src="{{ asset('uploads/article_pictures/' ~ article.Picture) }}" alt="nema">
                    </div>

                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Prev</span>
                </a>

                <a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </div>

    {% for article in articles %}

    <div class="row vertical-align">
        <hr class="mt-32 mb-32 short-line">

        <div class="col-md-7 activity-preview {% if loop.index0 % 2 == 0 %} col-md-push-5 {% endif %}">
            <h2 class="activity-text"><a href="{{ path('show_article', { 'id' : article.id }) }}">{{ article|localize('title') }}</a></h2>
        </div>
        <div class="col-md-5 {% if loop.index0 % 2 == 0 %} col-md-pull-7 {% endif %}">
            <img class="img-responsive center-block activity-img" src="{{ asset('uploads/article_pictures/' ~ article.Picture) }}">
        </div>
    </div>

    {% endfor %}

    <div class="pb-48"></div>

</div>

{% endblock %}
