{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">

            {{ page|localizePage('content')|insertImages|raw }}

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <hr class="short-line mt-18 mb-18"/>

            <h2>{{ 'projects'|trans }}</h2>
            <hr class="mb-18 mt-18"/>

            <div id="links"></div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="center-block text-center">
                <button class="btn" id="prev">Prev</button>
                <button class="btn" id="next">Next</button>
            </div>

        </div>
    </div>

{% endblock %}

{% block title %}
    {{ page|localizePage('title') }}
{% endblock %}



{% block javascripts %}

{% include 'project_ajax.html.twig' %}

    <!-- <script type="text/javascript" src="{{ asset("js/test.js") }}"></script> -->

<!-- <script type="text/javascript">

    num = 1;
    baseArticleUrl = '{{ path('show_article', { 'id' : 'article_id' }) }}'
    locale = '{{ app.request.locale }}';

    function getArticles() {
        var url = '{{ path('json_article_page', { 'num' : 'var_number' }) }}';
        url = url.replace("var_number", num);
        $.ajax({
            url: url,
            success: function(result) {
                if(JSON.stringify(result) == "[]") {
                    num = num - 1;
                    return;
                }
                var inner = "";
                var title;
                var index;
                for(index = 0; index < result.length; index++) {
                    if(locale == 'en') {
                        title = result[index].titleEn;
                    }
                    else {
                        title = result[index].title;
                    }
                    inner = inner + '<p><a href="' + baseArticleUrl.replace("article_id", result[index].id) + '">' + title + '</a></p>';
                }
                $('#links').html(inner);
            }
        });
    }

    $(document).ready(function() {
        getArticles(num);


        $('#prev').on('click', function() {
            if(num == 1) {
                return;
            }
            num = num - 1;
            getArticles();
        });

        $('#next').on('click', function() {
            num = num + 1;
            getArticles();
        });
    });

</script> -->

{% endblock %}
