{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{ project|localizeProject('name') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ project|localizeProject('longDescription')|insertImages|raw }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            {% if articles %}

                <hr class="short-line mb-32 mt-32"/>

                <h3>{{ 'activities'|trans }}</h3>
                <hr/>

                {% for article in articles %}

                    <p><a href="{{ path("show_article", { 'id' : article.id }) }}">{{ article|localize('title') }}</a></p>

                {% endfor %}

            {% endif %}

        </div>
    </div>

{% endblock %}
