{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_start(form) }}

                {{ form_row(form._username) }}
                {{ form_row(form._password) }}

                <button type="submit" class="btn btn-primary">Login</button>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}